<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regex 101</title>
</head>
<body>
    <h1>Welcome to the regex center</h1>

    <form action="" method='post'>
        <label>Test String</label>
        <input type="text" name="in_1" placeholder='enter your string here'><br/>
        <label>Regular Expression</label>
        <input type="text" name="in_2" placeholder='enter your regular exp here'> <br /><br/>
        <input type="submit" value="SUBMIT">
    </form>

</body>
</html>